<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mm.luna">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".ui.zhihu.ZhiHuDetailActivity" />
        <!--动漫详情-->
        <activity
            android:name=".ui.violet.VioletActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <!--电影详情-->
        <activity
            android:name=".ui.douban.MovieDetailActivity"
            android:screenOrientation="portrait" />
        <!--电影搜索-->
        <activity
            android:name=".ui.douban.MovieSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <!--电影票房-->
        <activity
            android:name=".ui.douban.BoxOfficeActivity"
            android:screenOrientation="portrait" />
        <!--比赛直播列表-->
        <activity
            android:name=".ui.nba.LiveActivity"
            android:screenOrientation="portrait" />
        <!--比赛直播-->
        <activity
            android:name=".ui.nba.LiveDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--WebView-->
        <activity
            android:name=".ui.common.WebViewActivity"
            android:screenOrientation="portrait" />
        <!--图片预览-->
        <activity
            android:name=".ui.common.ImagePreviewActivity"
            android:screenOrientation="portrait" />
        <!--每日一文-->
        <activity
            android:name=".ui.today.DailyArticleActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>
